<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
throwExceptions="false"
internalLogLevel="warn"
internalLogToConsole="true">

	<variable name="DirectoryLogs" value="${basedir}/logs/${shortdate}"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Database" />
	</extensions>

	<targets>
		<target xsi:type="File" name="AllFileLogs"
		fileName="${DirectoryLogs}/nlog-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true"/>
		<target name="TcpOutlet" xsi:type="NLogViewer" address="tcp://localhost:5040"/>
		<target name="DatabaseTarget" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
		connectionString="Data Source=DESKTOP-BKO6ROR\\SERVERBASE;Initial Catalog=FinanceDB;User ID=sa;Password=lox45lol1">
			<commandText>
				INSERT INTO Log (Log_Message, Log_Date, Log_Time) VALUES (@Log_Message, @Log_Date, @Log_Time);
			</commandText>
			<parameter name="@Log_Message" layout="${Log_Message}" />
			<parameter name="@Log_Date" layout="${Log_Date}" />
			<parameter name="@Log_Time" layout="${Log_Time}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="AllFileLogs"/>
		<logger name="*" minlevel="Trace" writeTo="TcpOutlet"/>
		<logger name="*" minlevel="Fatal" writeTo="TcpOutlet"/>
		<logger name="*" minlevel="Fatal" writeTo="DatabaseTarget"/>
	</rules>
</nlog>